.bar {
    background-color: #444c63;
    height: 100vh;
}

.list-group-item {
    background: #444c63;
    border: 0px;
    color: #828dad;
}

.ico {
    height: 10%;
    width: 30%;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.gallery {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.img-thumbnail {
    margin: 5px;
}


/* .row {
    height: 100%;
} */